<md-sidenav-container>
    <md-sidenav #sidenav mode="side">
        <div class="flex-container" fxLayout="column">
            <button class="flex-item" md-raised-button color="primary" [routerLinkActive]="['active']"
                    [routerLink]="['/productos']">Buscar
            </button>
            <div class="flex-item"></div>
            <button class="flex-item" md-raised-button color="primary" [routerLinkActive]="['active']"
                    [routerLink]="['/barcode']">Escanear
            </button>
            <div class="flex-item"></div>
            <button class="flex-item" md-raised-button color="primary" [routerLinkActive]="['active']"
                    [routerLink]="['/carrito']">Carrito
            </button>
        </div>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon svgIcon="ic_menu" aria-label="menu" class="md-24"></md-icon>
        </button>
        {{ titulo }}
        <span class="app-toolbar-filler"></span>

    </md-toolbar>
    <div>
        <nav class="navbar navbar-default">
            <a routerLink="/productos" routerLinkActive="active">Buscar</a>
            <a routerLink="/barcode" routerLinkActive="active">Escanear</a>
            <span class="example-fill-remaining-space"></span>
            <a routerLink="/carrito" routerLinkActive="active">Lista de Compras</a>
        </nav>
    </div>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
<app-fab-menu></app-fab-menu>
