<md-card>
    Codigo:
    <input class="instantInput" [(ngModel)]="codigo" (keyup)="onChange()"
           placeholder="Ingresa el codigo de barras...">
    <div class="flex-container text-center" fxLayout="row" fxLayoutAlign="center center">
        <div class="flex-item">
            <md-spinner color="accent" class="app-spinner" *ngIf="spinner"></md-spinner>
        </div>
        <div class="flex-item">
            <div *ngIf="producto" class="flex-item">
                <section>
                    <h2>Producto: {{ producto.nombre }}</h2>
                    <h3>Descripción</h3>
                    <p><em>precio:</em> {{ producto.precio }}</p>
                    <p><em>cantidad:</em> {{ producto.cantidad }}.</p>

                    <button type="button" class="btn btn-default btn-xs" [disabled]="producto.cantidad <= 0"
                            (click)="agregarACarrito(producto)">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar a carrito
                    </button>
                </section>
            </div>
            <md-card *ngIf="message"> {{ message }}</md-card>
        </div>
    </div>

</md-card>
