<section *ngIf="producto">
    <!-- description -->
    <section>
        <h2>Producto: {{ producto.nombre }}</h2>
        <h3>Descripción</h3>
        <p><em>precio:</em> {{ producto.precio }}</p>
        <p><em>cantidad:</em> {{ producto.cantidad }}.</p>

        <button type="button" class="btn btn-default btn-xs" [disabled]="producto.cantidad <= 0"
                (click)="agregarACarrito(producto)">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar a carrito
        </button>
    </section>
</section>
