.bt-paginador{
  color: #fff;
  background-color: #ff4081;
  border-color: #761c19;
  line-height: 35px;
  height: 35px;
  width: 35px;
}
.bt-paginador:hover{
  background-color:#3f51b5;
  border-color: #ff4081;
}
