<md-sidenav #sidenav mode="side">
  <div class="flex-container"
       fxLayout="column">
    <button class="flex-item" md-button
            [routerLinkActive]="['active']"
            [routerLink]="['']">Inicio
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" md-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode']">Escanear
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" md-button
            [routerLinkActive]="['active']"
            [routerLink]="['carrito']">Carrito
    </button>
  </div>
</md-sidenav>

