/* boton eliminar */

table{
  vertical-align: middle;
}


.smallInput {
  width: 40px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.flex-item{
  display: flex;
}
.md-cantidad{
  height: 24px;
}

.mat-toolbar-row{
  height: 24px;
}

.md-icon-18{
  height: 18px;
}

.md-icon-24{
  height: 24px;
}

.material-icons.red { color: #fb0002; }

.material-icons.md-inactive { background: rgba(255, 255, 255, 0.3); }
