/* boton eliminar */

table{
  vertical-align: middle;
}
.s24 {
  width: 24px;
  height: 24px;
  fill: #f00; }

.smallInput {
  width: 40px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.flex-item{
  display: flex;
}
