<div *ngIf="compra.length==0">
    <p>No tienes productos en tu carrito!.
        Agrega <a routerLink="/productos" routerLinkActive="active">Aqui</a> productos para calcular tu compra.
    </p>
</div>
<section *ngIf="compra.length>0">
    <div>
        <button (click)="descartarLista()">Descartar lista</button>
      <!--  <a routerLink="/barcode/media" routerLinkActive="active">Escanear</a> -->
    </div>
    <table class="table table-hover" *ngIf="compra.length>0">
        <thead>
        <tr>
            <th><i></i>Nombre</th>
            <th><i aria-hidden="true"></i>Precio</th>
            <th><i aria-hidden="true"></i>Cantidad</th>
            <th><i aria-hidden="true"></i>Subtotal</th>
            <th><i aria-hidden="true"></i>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detalle of compra; let idx = index">
            <td>{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.producto.precio | currency }}</td>
            <td>

                <md-toolbar>
                    <md-icon svgIcon="ic_menos" aria-label="menorar" (click)="downQuantity(detalle)"></md-icon>
                    <input mdInput pattern="^^\\d+\\.\\d{2}$" class="smallInput" maxlength="6" type="number"
                           [(ngModel)]="detalle.cantidad"
                           (focusout)="verificarCantidad(detalle)" (keyup)="calcular(detalle)"/>
                    <md-icon svgIcon="ic_mas" aria-label="aumentar" (click)="upQuantity(detalle)"></md-icon>
                </md-toolbar>
            </td>
            <td>{{ detalle.subtotal | currency:'USD':true:'1.2-2' }}</td>
            <td class="text-right">
                <md-icon (click)="eliminarDetalle(idx)" svgIcon="ic_delete" class="s24" aria-label="Eliminar Detalle" ></md-icon>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="text-right">
            <td>
                Productos:{{ compra.length }}
            </td>
            <td colspan="4">Total: {{ totalCompra() | currency:'USD':true:'1.2-2' }}</td>
        </tr>
        </tfoot>
    </table>
</section>
