<div class="flex-container" fxLayout="row" fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
    <md-card class="flex-item" fxFlex="50">
        <p>Mensaje: esta opción solo funciona para Internet explorer 11+.</p>
        <div id="interactive" class="viewport clearfix" #interactive></div>
    </md-card>
    <md-card class="flex-item app-input-section hidden__sm" fxFlex="50" *ngIf="lastResult">
        <div class="ticket">
            <div class="datas">
                <a *ngIf="producto" class="link" (click)="agregarACarrito(producto)">
                    <div class="ribbon">
                        <div *ngIf="producto" class="label">Click para agregar a Lista
                        </div>
                    </div>
                    <span><p>Producto: {{ producto.nombre}}</p>
                            <p>Precio: {{ producto.precio }}</p>
                    </span>
                </a>
                <em *ngIf="message">{{ message }}</em>
            </div>
        </div>
    </md-card>
</div>
